.bg-custom {
    background-color: #E5E5E5 !important;
    font-family: 'Amiko';font-size: 22px;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}

.thegrid{
    display: block;
}

.thegridbottom{
    text-align: center;
}

form{
    text-align: center;
}

.cihuy{
    text-align: center;
}

.thegrid h1{
    text-align: center;
    font-size: 5em;
}

.depan{
    margin-bottom: 5em;
}

.belakang{
    z-index: -1;
    width: 100%;
    height: auto;
    align-items: center;
    background-attachment: fixed;
    padding: 0;
}

.kontener{
    z-index: -1;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.bacgkround{
    z-index: -1;
}

.nama{
    width: 15vw;
}

.testi{
    width: 25vw;
}

.btn-primary{
   background-color: white;
}

.tomblo{
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    -webkit-text-fill-color: black;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    margin: autos;
    margin-bottom: 20px;
}

.tomblo:hover{
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    -webkit-text-fill-color: black;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    align-items: center;
    transform: scale(1.5);
    z-index: 2;
    transition: 0.3s ease-in;
    margin-bottom: 20px;
}