body {
    background-image: url('/static/images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

    font-family: 'Patua One', cursive;
    font-size: 2vw;
    letter-spacing: 3px;
}

.home{
    overflow-y: hidden;
}

.row{
    text-align: center;
    margin-top: 10%;
}

#tagline{
    font-family: 'Patua One', cursive;
    font-size: 5vw;
    letter-spacing: 3px;
    line-height: 7vw;
    
    top: 20vw;
    color: #BC1515;
}

#yuk{
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: transparent;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .5rem .9rem
}

.form-row{
    margin-top: 5%;
}

#logo{
    width: 30vw;
    height: 30w;
}

#balas{
    font-family: 'Roboto Slab', serif;
    font-size: 70%;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 30px;
    color: black;
    border: 2px solid;
    padding: .3rem .6rem;
    margin-top: 2vw;
    margin-left: 90%;
}

.reply{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}