<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
        <script src="{% static 'js/parallax.min.js' %}"></script>

        <title>Curhatme | Testimoni!</title>
    </head>
    <body background="{% static 'images/bg.jpg' %}">
        <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo.png' %}" width="85" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-center d-flex flex-fill">
                        <li class="nav-item active">
                            <a class="nav-link  navbar-center" href="#"><img src="{% static 'images/write.png' %}" width="50"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="grid isi text-center" id="curhat">
            <div class="container-fluid kontener">
                <div class="row aja">
                    <div class="col-md-12 thegrid">
                        <h1> Bagikan Pengalaman Menyenangkanmu!
                        </h1>
                    </div>
                    <div class="col-md-12 thegridmid">
                        <form action="" method="POST">
                            {% csrf_token %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn depan" data-toggle="modal" data-target="#exampleModalCenter">
                            Berikan Testimoni!
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Berikan Testimoni</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="judulnama"> Nama Kamu (atau tulis Anonymous): </p>
                                        <input name="nama" class="nama" type="textarea" placeholder="Siapa saya?">
                                        <p class="judultesti"> Testimoni: </p>
                                        <input name="testi" class="testi" type="textarea" placeholder="CurhatMe sangat membantu...">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for curhat in curhatan %}
                    <div class="col-md-8 offset-4 thegridbottom">
                        <p class="tomblo">
                        Nama      : {{ curhat.nama  }}<br>
                        Testimoni : {{ curhat.testi }} <br>
                        </p>
                    </div>
                    {% endfor %}            
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>