<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CurhatMe</title>
    <!-- <link rel="shortcut icon" type="image" href="bunga-min.png"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/curhat.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <div class="article">
        {% comment %} <a href="{% url 'homepage:postreply' %}"></a> {% endcomment %}
            <div class="row">
                {% for i in postreply %}
                    <div class="col-sm-4 text-center">
                        <div class = "container reply">
                            <p>{{ i.reply  }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

    {% comment %} <div class = 'col-md-12'>
        <div class = 'form-group'>
            <div class='text-center'>
                <a href="{% url 'homepage:reply' %}"><button type="button" class="btn btn-secondary btn-sm">Reply</button></a>
            </div>
        </div>
    </div> {% endcomment %}
</body>