<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CurhatMe</title>
    <!-- <link rel="shortcut icon" type="image" href="bunga-min.png"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/curhat.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    
    <form action="{% url 'homepage:reply' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <label id="labelreply" for="id_reply">Mau balas apa?</label>
                    {% for fields in form %}
                    <br>
                    {{ fields }}
                    {% endfor %}
                <input type="submit" class="btn btn-secondary btn-sm" value="reply" id="balas"></button>
            </div>
        </div>
    </form>
</body>